{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatile" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Studies Logs</title>

        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>

    <body>
        <!-- Static navbar -->
      <nav class="navbar navbar-default navbar-static-top">
        <div class="container">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
            </button>
              <a class="navbar-brand" href="{% url 'learning_logs:index' %}">
                Studies Logs </a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav"> 
                <li><a href="{% url 'learning_logs:topics' %}"> assuntos </a></li>
              </ul>

              <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a>Olá, {{ user.username }}.</a></li>
                    <li><a href="{% url 'users:logout' %}">sair</a></li>
                {% else %}
                    <li><a href="{% url 'users:register' %}"> cadastre-se </a></li>
                    <li><a href="{% url 'users:login' %}">entrar</a></li>
                {% endif %}
              </ul>
            </div><!--/.nav-collapse -->

        </div>
      </nav>

      <div class="container">
        <div class="page-header">
            {% block header %} {% endblock header %}
        </div>
        <div>
            {% block content %}{% endblock content %}
        </div>
      </div> <!-- /container -->
    </body>
</html>
