{% extends "learning_logs/base.html" %}
{% block header %}
  <div class="jumbotron text-center">
      <h1>Organize o que você aprendeu</h1>
  </div>
{% endblock header %}
{% block content %}
<div class="text-center">
  {% if user.is_authenticated %}
    <h2 class="text-capitalize">
      Olá, {{user.username}}. 
    </h2>
  {% else %}
    <h2> 
      <a href="{% url 'users:register' %}">Cadastre-se</a> para
        aperfeiçoar seus estudos.
    </h2>
  {% endif %}
  <img class="img-responsive center-block" src="https://bit.ly/3f4FD0l" alt="Cachorro lendo um livro.">
  <h2>
   Sempre que aprender algo novo sobre um assunto,
    crie uma anotação resumindo o que você aprendeu.
  </h2>
</div>

    {% endblock content%}
</html>

img.ri
{
    position: absolute;
    max-width: 80%;
    top: 10%;
    left: 10%;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.9);
}

img.ri:empty
{
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media screen and (orientation: portrait) {
  img.ri {
      max-width: 90%;
  }
}

@media screen and (orientation: landscape) {
  img.ri {
      max-height: 90%;
  }
}

